*.ts
!*.d.ts

.github
.vscode

common/**/*
!common/_cookies.yaml
!common/_on-ready.js
!common/_override.css
!common/_cookies.yaml
!common/_viewports.yaml
!common/_replacement-profiles.yaml
!common/replacement-profiles-schema.json
!common/test-schema.json

visual_tests/**/*
!visual_tests/alloy.tests.yaml